<div class="viaje-list-container">
  <h2>Lista de Viajes</h2>
  <p-button label="Nuevo Viaje" icon="pi pi-plus" (onClick)="onNewViaje()"></p-button>
  <p-table [value]="viajes" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Destino</th>
        <th>Fecha de Inicio</th>
        <th>Fecha de Fin</th>
        <th>Presupuesto</th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-viaje>
      <tr>
        <td>{{viaje.id}}</td>
        <td>{{viaje.destino}}</td>
        <td>{{viaje.fechaInicio | date}}</td>
        <td>{{viaje.fechaFin | date}}</td>
        <td>{{viaje.presupuesto | currency}}</td>
        <td>
          <p-button icon="pi pi-pencil" (onClick)="onEditViaje(viaje)" styleClass="p-button-text"></p-button>
          <p-button icon="pi pi-trash" (onClick)="onDeleteViaje(viaje)" styleClass="p-button-text p-button-danger"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
